<ul class="right">
  <% if (user) { %>
  <li>Welcome <%=user.username%></li>
  <li> Coins: <%=money%></li>
  <div class="dropdown">
    <span>More</span>
    <!-- <i class="fa fa-bars"></i> -->
    <div class="dropdown-content">
      <li>
      <a href="/logs">
      My Pokemon</a>
      </li>
      <li>
        <a href="/users/show">
          Buy Coins
        </a>
      </li>
      <li>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Log Out" class="btn-small red" />
        </form>
      </li>
    </div>
  </div>
  <% } else { %>
  <li><a href="/users/new">Sign Up</a></li>
  <li><a href="/sessions/new">Log In</a></li>
  <% } %>
</ul>
