<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/welcome.css">
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <a href="/sessions/new">
        <button  type="button" name="button">Sign In</button>
      </a>
      <a href="/users/new">
        <button  type="button" name="button">Sign Up</button>
      </a>
    </div>

  </body>
</html>
