<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Hi! How are you? Welcome to EJ</h1>
    <a href="#">
      <button type="button" name="button">Sign In</button>
    </a>
    <a href="/users/new">
      <button type="button" name="button">Sign Up</button>
    </a>


  </body>
</html>
