*{
  padding: none;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trade Winds' ;
}
body{
  background-image: radial-gradient(rgb(245, 245, 220),rgb(0, 139, 139));
  background-color:
  rgb(0, 139, 139);
  background-repeat:repeat;
  background-size: cover;
  height: 750px;
}
/* Nav */
.dropdown{
  position: relative;
  display: inline-block;
  color: DarkRed;
  margin-left: 10px;
  text-shadow: 1px 1px Gold;
}
.dropdown-content {

  display: none;
  position: absolute;
  background-color: Gold;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 5px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover{
  color: Gold;
  text-shadow: 1px 1px DarkRed;
}
.dropdown a:hover{
  display: block;
  color: Gold;
  background-color: DarkRed;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.head-bar{
  display: flex;
  justify-content: space-around;

}
.right{
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.right>li{
  margin: 0 10px;
  color: DarkRed;
  text-shadow: 1px 1px Gold;

}
.right>li:hover{
  color: Gold;
  text-shadow: 1px 1px DarkRed;
}

h1{
  color: Gold;
  font-size: 50px;
  text-shadow: 3px 3px DarkRed;
}

header{

  margin: 30px auto;
  text-align: center;
}
a{
  color: DarkRed;
  text-decoration: none;
  text-align: center;
  display:inline-block;

}
.right>form{
  /* border: 0.1em solid red; */
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

}
input, button{
  box-shadow: 5px 10px 18px #888888;
  color: Gold;
  background-color: DarkRed;

}

/* nav finish */
/* index */
.flex-container{
  /* border: 0.1em solid red; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
}
.row{
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
  color: DarkRed;
  background-color: white;
  text-align:center;
  /* border: 0.1em solid red; */
  padding: 20px 0;
  margin: 20px auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.index-img, .log-img{
  margin: 10px auto;
  width: 40%;
  height: 100%;

}
/* index finish  */
/* show  */
.container-display{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.footer{
  margin-top: 100px;
  text-align: center;
}
.display-img img{
  width: 300px;
  height: 300px;
  margin: 20px 0px;
  border: 0.5em solid gold;
  box-shadow: 5px 10px 18px #888888;
}
.display-info{
  padding: 10px;
  width: 300px;
  height: 300px;
  margin: 20px 0px;
  border: 0.5em solid DarkRed;
  box-shadow: 5px 10px 18px #888888;
}
h2{
  color: DarkRed;
}
h4{
  color: DarkRed;
  margin: 5px auto;
}

#name{
  font-size: 30px;
  color: DarkRed;
  margin-bottom: 10px;
}
.footer button{
  display: block;
  height: 50px;
  width: 150px;
  font-size: 15px;
  margin: 10px auto;
}
/* show finish  */
/* *********POKEMON END********* */
/* *********LOG ROUTE********* */
/* index */
.log-img{
  padding: 20px 0px;
  width: 50%;
}
