<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <form class="" action="/users/show?_method=PUT" method="post">
      <input type="submit" name="" value="Buy 1000 Coins">
    </form>

  </body>
</html>
