<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>edit page</title>
  </head>
  <body>
    <form class="" action="/logs/<%=log.id%>?_method=PUT" method="POST">
      <label for="name">To-Do:</label>
        <input type="text" name="task"/>
      <!-- <label for="name">Complete:</label>
        <input type="checkbox" name="complete"/><br> -->
      <input type="submit" name="" value="Add"><br>
    </form>
  </body>
</html>
