<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index page</title>
  </head>
  <body>
    <h1>hello <%=user.username%></h1>

    <!-- input log -->
    <h2>Create Today's Log</h2>
    <form class="" action="/logs" method="POST">
      <label for="name">Date:</label>
        <input type="Date" name="date" required /><br>
      <input type="submit" name="submit" value="Select Date">
    </form>
    <!-- another form for adding task -->
    <form class="" action="/logs?_method=PUT" method="post">
      <label for="name">To-Do:</label>
        <input type="text" name="task" required />
      <label for="name">Complete:</label>
        <input type="checkbox" name="complete"/><br>
      <input type="submit" name="" value="Add"><br>
    </form>
    <ul>
      <%for(let i = 0; i<logs.length; i++){%>
        <li><%=logs[i].date%></li>
        <li><%=logs[i].task%></li>
      <%}%>

    </ul>
  </body>
</html>
