<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index page</title>
  </head>
  <body>
    <h1>hello <%=user.username%></h1>
    <%for(let i = 0; i < user.logs.length; i++){%>
      <a href='logs/<%=user.logs[i]._id%>'>
      <h2><%=user.logs[i].date.slice(0, 10)%></h2>
      </a>
    <%}%>
  </body>
</html>
