<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome, <%=user.username%>!</h1>
    <h2>Create a New Recipe</h2>
    <form action="/logs" method="post">
      <select name="userId">
        <option value='<%=user._id%>'>
          <%=user.username%>
        </option>
        </select><br/>
        <label for="name">Name:</label>
          <input type="text" name="name" required /><br>
        <label for="img">Ingrediates:</label>
          <input type="text" name="ingrediates"/>
        <label for="procedure">Procedure: </label>
          <input type="textbox" name="procedure"/><br>
          <!-- <input type="submit" name="" value="Add"><br> -->
        <a href="/logs">
          <input type="submit" value="submit"/>
        </a>
    </form>
<!--


    <form class="" action="logs/:id?_method=PUT" method="post">
      <label for="name">To-Do:</label>
        <input type="text" name="task"/>
      <label for="name">Complete:</label>
        <input type="checkbox" name="complete"/><br>
        <input type="submit" name="" value="Add"><br>
    </form> -->
    <a href="/logs"><button type="button" name="button">Main Page</button></a>
  </body>
</html>
