<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>hello <%=user.username%></h1>
    <h2><%=String(log.date).slice(0, 15)%></h2>
    <%for(let i = 0; i < log.task.length; i++){%>
      <h2>To-do: <%=log.task[i]%> </h2>
   <%}%>
    <a href="/logs/<%=log.id%>/edit"><button type="button" name="button">Edit Log</button></a>
  </body>
</html>
