<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>hello <%=user.username%></h1>
    <h2><%=String(log.date).slice(0, 15)%></h2>
    <h2>To-do: <%=log.task%></h2>
  </body>
</html>
